.FrontPage {
  text-align: center;
  background-color: #093c88;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 62.5%;
  color: white;
}
.FrontPage a {
  color: blue;
}
.FrontPage a:hover {
  color: dodgerblue;
}
.FrontPage .left-side {
  width: 64%;
}
.FrontPage .right-side {
  width: 35%;
}
