.App {
  text-align: center;
  background-color: #b0f2fc;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 62.5%;
  color: white;
}
.App a {
  color: blue;
}
.App a:hover {
  color: dodgerblue;
}
/* .left-side {
  width: 49%;
} */
.right-side {
  width: 35%;
}
